BASE_URL=<URL for client>
SSR_URL=<URL for Server Side Rendering>
DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<database>
DATABASE_URL_SCHEMA=${DATABASE_URL}?schema=app
TOKEN_SECRET=<32 characters>
HASH_ALGORITHM=<sha256 | sha512 | ... >
PASSWORD_SECRET=<32 characters>
RECOVERY_TOKEN_EXPIRE_MINUTES=60
MOCK_RECOVER_MAIL=<Use this mail for receiving recovery tokens, only for dev purpose>
DEV_SESSION = <Set this to force production enviroment to ignore HTTPS, Only for testing purpose>

# para encriptacion y manejar integridad de datos en sessionStorage
NEXT_PUBLIC_ENCRYPTION_KEY_1=
NEXT_PUBLIC_ENCRYPTION_IV_1=
NEXT_PUBLIC_ENCRYPTION_KEY_2=
NEXT_PUBLIC_ENCRYPTION_IV_2=

